@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
html{
    font-size: 16px;
    font-family:'Roboto Mono', monospace;
}
img{
    background: transparent;
    width: 50%;
    height: auto;
    margin-top:auto;
    margin-bottom: 2vh;
}

h1{
    font-size: 1.5rem;
    font-family:'Dancing Script', cursive;
    margin-top:2vh;
    margin-bottom: 4vh;
}

h2{
    font-size: 1.2rem;
    margin-bottom: 4vh;
    text-decoration: underline;
}
p{
    margin:25px;
    text-align: justify;
    text-justify: inter-word;
}

#statusTitle{
    margin: 2vh 0;
}

label{
    font-size: 1rem;
}

#page-wrapper{
    display:flex;
    width:100vw;
    height:100vh;
}


#addmenu{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:25vw;
    background-color: #3a3f3e;
    color:aquamarine;
}

#library-wrapper{
    width:75vw;
    background-color: aquamarine;
    display:flex;
    align-items: center;
    justify-content: center;
}

#library{
    border: 3px solid #3a3f3e;
    margin: 5vh 5vw;
    width:65vw;
    height:90vh;
    border-radius: 5px;
    background-color: #444a49;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#library::-webkit-scrollbar{
    display:none;
}

#addButton{
    border: 3px solid azure;
    border-radius: 15px;
    background:#3a3f3e;
    color:aquamarine;
    margin:auto;
    font-size: 1.5rem;
    transition-duration: 0.2s;
}

#addButton:hover{
    border-color: aquamarine;
}

#addButton:active{
    transform: scale(0.9); 
}

#formWrapper{
    display:flex;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    position:fixed;
    z-index: 2;
    backdrop-filter: blur(6px);
}

#formMenu{
    background-color: #3a3f3e;
    padding:40px;
    border-radius: 15px;
    border:3px solid azure;
    color:aquamarine;
    margin:auto;

}

input, select{
    border-radius: 5px;
    border-color: azure;
    color:azure;
    background-color: #3a3f3e;
}

input:focus, select:focus{
    border: 2px solid aquamarine;
}

#submit{
    display: block;
    margin: 0 auto;
    margin-top:15px;
    font-size: 1rem;
    padding:8px 10px;
    transition-duration: 0.2s;
}

#submit:active{
    transform: translateY(4px);
}

#submit:hover{
    background-color: #555c5b;
}

input:focus-visible, select:focus-visible{
    outline:none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin:5%;
  }
td, th {
    border: 1px solid azure;
    color:aquamarine;
    text-align: left;
    padding: 8px;
}
tr {
    background-color: #3a3f3e;
}
